@page
@model MyEshop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "لیست کالاها";
}

<h1>لیست کالاها</h1>
<hr/>
<a asp-page="Add" class="myButton"> افزودن کالا</a>

<table>
    <thead>
    <tr>
        <th>عکس</th>
        <th>نام</th>
        <th>قیمت</th>
        <th>تصویر</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                <img src="/images/@(item.ID).jpg" style="max-width: 200px; border: 1px solid gray; padding: 3px "/>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Item.Price
            </td>
            <td>
                <a class="btn btn-danger" asp-page="Delete" asp-route-id="@item.ID">حذف</a>
                <a class="btn btn-info" asp-page="Edit" asp-route-id="@item.ID">ویرایش</a>
            </td>
        </tr>
    }
    </tbody>
</table>
