@model Product

<div class="col-md-4">
    <div class="card">
        <img src="/images/@(Model.ID).jpg" height="160" width="160" class="card-img-top img-thumbnail"/>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <a asp-action="Detail"
               asp-controller="Home"
               asp-route-id="@Model.ID">جزئیات محصول</a>
        </div>

    </div>
</div>