<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap-rtl.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap4/css/custom.min.css" />*@
    <link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha23/dist/font-face.css" rel="stylesheet" type="text/css" />


</head>
<body class="rtl">
    <header>
        <a href="/">Admin</a>
    </header>
    <div class="row">

        <nav>
            <ul>
                <li>
                    <a class="nav-item">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
